{% extends "location/base.html" %}
{% load static %}
{% block page_content %}
<form action="" method="post" enctype="multipart/form-data">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="title">Title</label>
        <p>{{location_form.title}}</p>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <p>{{location_form.description}}</p>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <label for="inputState">Region</label>
        <select id="inputState" class="form-control">
          {% for region in location_form.region %}
            <p>{{region}}</p>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="inputState">Difficulty</label>
        <select class="form-control">
          {% for difficulty in location_form.difficulty %}
            <option value={{difficulty}}>{{difficulty}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="inputState">Leisure</label>
        <select id="inputState" class="form-control">
          {% for leisure in location_form.leisure %}
            <p>{{leisure}}</p>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
                        <label class="col-sm-3 control-label">
                            Select Multiple Images
                        </label>
                        <div class="col-sm-9">
                            <span class="btn btn-default btn-file">
                                <input id="input-2" name="input2[]" type="file" class="file" multiple data-show-upload="true" data-show-caption="true">
                            </span>
                        </div>
                    </div>
      <button type="submit" class="btn btn-dark w-100">POST</button>
    </div>
  </div>

</form>

{% endblock %}