{% extends "location/base.html" %}
{% load static %}
{% block page_content %}
<!--{{ locations }}-->
<h2 class="my-2 text-primary">LATEST POSTS</h2>

<div class="row">
  <div id="carouselExampleIndicators" class="carousel slide col-md-12 px-0" data-ride="carousel">
  <div class="carousel-inner">
    {% for file in new_locations %}
    {% with forloop.counter0 as i %}
      <div class="carousel-item {% if i is 0 %}active{% endif %}">
          <div class="row">
            <div class="col-md-7">
              <img class="d-block w-100" src="{{file.images.first.image.url}}" alt="{{file.name}}">
            </div>
            <div class="col-md-4">
              <h1>{{file.title}}</h1>
              <p>{{file.description|truncatechars:600}}</p>
              <a href="{% url 'location' file.pk %}" class="btn btn-primary">Подробнее</a>
            </div>
          </div>
      </div>
        {% endwith %}
    {% endfor %}
  </div>
  <a class="carousel-control-prev bg-secondary" style="width: 70px;" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </a>
  <a class="carousel-control-next bg-secondary" style="width: 70px;" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </a>
</div>
</div>

<!-- Cards -->
  <h2 class=" text-primary mt-4">LOCATIONS</h2>
  <div class="row row-cols-2 row-cols-md-2 g-4">
    {% for loc in locations %}
      <div class="col">
        <div class="card my-2">
          <img src="{{ loc.images.first.image.url }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ loc.title }}</h5>
            <p class="card-text">{{ loc.description|truncatechars:255 }}</p>
            <a href="{% url 'location' loc.pk %}" class="btn btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
    {% endfor %}
</div>

<div class="row my-4">
  <a href="{% url 'posts' %}" class="col-md-12 btn btn-primary text-light">SHOW MORE</a>
</div>

{% endblock %}