{% extends "location/base.html" %}
{% load static %}
{% block page_content %}
<!--{{ locations }}-->
<h2 class="my-2 text-primary">LATEST POSTS</h2>
<div class="row">
  <div id="carouselExampleIndicators" class="carousel slide col-md-8" data-ride="carousel">
  <ol class="carousel-indicators  mx-0">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="{% static 'location/img/1.jpg' %}" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static 'location/img/2.jpg' %}" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="{% static 'location/img/1.jpg' %}" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </a>
</div>
  <div class="card col-md-4" style="border: none;">
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class=" btn btn-primary">Подробнее</a>
  </div>
  </div>
</div>

<!-- Cards -->
  <h2 class=" text-primary mt-4">LOCATIONS</h2>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    {% for loc in locations %}
      <div class="col">
        <div class="card my-2">
          <img src="{% static 'location/img/2.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ loc[].title }}</h5>
            <p class="card-text">{{ loc[location].description|truncatechars:255 }}</p>
            <a href="{% url 'location' loc[0].id %}" class="btn btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
    {% endfor %}
</div>

<div class="row my-4">
  <a href="#" class="col-md-12 btn btn-primary text-light">SHOW MORE</a>
</div>

{% endblock %}