{% extends "location/base.html" %}
{% load static %}
{% block page_content %}
{{ region.title }}
<!-- Cards -->
  <h2 class=" my-2 text-primary py-2"></h2>
  <div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="{% static 'location/img/2.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="#" class="btn btn-primary">Подробнее</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="{% static 'location/img/2.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="#" class="btn btn-primary">Подробнее</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="{% static 'location/img/2.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Подробнее</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="{% static 'location/img/2.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <a href="#" class="btn btn-primary">Подробнее</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}